body {
    background: url('../img/azul.jpg');
}

.logo {
    background: dodgerblue;
}

.menu {
    background: dodgerblue;
}

.menu a:hover {
    background: rgb(17, 132, 167);
    font-weight: bold;
}

.boton {
    background: dodgerblue;
}

form input[type='submit'] {
    background: dodgerblue;
}