body{
    background: url('../img/verde.jpg');
    /* background-attachment: fixed; */
}
.logo{
    background: rgb(6, 129, 43);
}
.menu{
    background: rgb(6, 129, 43);
}
.menu a:hover{
    background: lime;
    font-weight:bold;
}
.boton{
    background: rgb(6, 129, 43);
}
form input[type='submit']{
    background: rgb(6, 129, 43);
}